<!DOCTYPE html>
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>Drzewo Genealogiczne</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
    {% endblock %}
</head>
<body>
    <div id="container">
        <h1 id="tyt">Drzewo Genealogiczne</h1>
    <nav>

            {% block links %}

            <a href="{{ url_for('create') }}">Dodaj członka</a>
            <a href="{{ url_for('edit') }}">Edytuj dane członka</a>
            <a href="{{ url_for('find') }}">Wyszukaj zależność</a>
            <a href="{{ url_for('delete') }}">Usuń członka</a>
            {% endblock %}
    </nav>
<!--    <section class="content">-->
<!--        <header>-->
<!--            {% block header %}{% endblock %}-->
<!--        </header>-->
<!--        {% if message %} <h2>{{message}}</h2> {% endif %}-->
<!--        {% for message in get_flashed_messages() %}-->
<!--            <div class="flash">{{ message }}</div>-->
<!--        {% endfor %}-->
        {% block content %}{% endblock %}
<!--    </section>-->
<!--        </div>-->
</body>